{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="mb-4 text-center">
                {% if form.instance.pk %}Edit{% else %}Add{% endif %} Book
            </h1>
            <div class="form-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
                </form>
                <a href="{% url 'book_list' %}" class="btn btn-secondary btn-block mt-3">Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/book_form.css' %}">
{% endblock %}
