{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Link to your CSS file -->
    <title>{% trans "Login" %}</title>
</head>
<body>
    <div class="container">
        <h2>{% trans "Login" %}</h2>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">{% trans "Username" %}</label>
                <input type="text" name="username" id="username" required>
            </div>

            <div class="form-group">
                <label for="password">{% trans "Password" %}</label>
                <input type="password" name="password" id="password" required>
            </div>

            <button type="submit">{% trans "Submit" %}</button>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a>
        </p>
    </div>
</body>
</html>
