<!--<!DOCTYPE html>-->
<!--<html lang="{{ LANGUAGE_CODE }}">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">-->
<!--    <title>{% load i18n %}{% trans "User Profile" %}</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="container mt-5">-->
<!--        <h1 class="text-center">{% trans "User Profile" %}</h1>-->

<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">{% trans "Username:" %} {{ user.username }}</h5>-->
<!--                <p class="card-text">{% trans "Email:" %} {{ user.email }}</p>-->
<!--                <p class="card-text">{% trans "Role:" %} {{ user.userprofile.role }}</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="mt-4 text-center">-->
<!--            <a href="{% url 'book_list' %}" class="btn btn-primary">{% trans "Go to Book List" %}</a>-->
<!--            <a href="{% url 'logout' %}" class="btn btn-danger">{% trans "Logout" %}</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>-->
<!--</body>-->
<!--</html>-->
